body{
    font-size: 22px;
    margin: 0;
}
.budget-container{
    background-color: blueviolet;
}
.app-title{
  padding-left: 3%;
  padding-top: 5px;
    
}
.budget-header{
  width: 50%;
  padding: 8px 0px 0px 10px;
}
.budget_right{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}
.circle{
     display: flex;
     justify-content: center;
     align-items: center;

    width: 30px;
    height: 30px;
 background-color: sienna;
 border-radius: 50%;
}
.title_name{
    padding: 5px;
    font-weight: 700;
    font-family: sans-serif;
}
.account{
    display: flex;
    padding: 5px 0px 20px 0px;
    text-align: center;
}
.balance{
    text-align: center;
    margin: 5px 0px 10px 30px;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    
}
.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.income{
    width: 45%;

}

.chart{
    width: 10%;
}
.outcome{
    width: 45%;
}
.budget-dashboard{
   padding-left: 15px;
   padding-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
}
.toggle{
    width: 98%;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    font-family: sans-serif;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.dash-title{
   font-weight: 700;
   padding-bottom: 5px;
   

}
.tab1{
    width: 20%;
    border-right: 1px solid gray;
    color: grey;
    cursor: pointer;
    }
.tab2{
    padding-left: 10%;
    width: 20%;
    border-right: 1px solid gray;
    color: grey;
    cursor: pointer;

}
.tab3{
    width: 20%;
    padding-left: 10%;
    color: grey;
    cursor: pointer;

}
.input{
    display: flex;
    margin-top: 150px;
}
#income-title-input,
#expense-title-input{
    width: 45%;
    padding:10px;
}
#income-amount-input,
#expense-amount-input
    {
    width: 45%;
    padding:10px;
}
.add-income,
.add-expense{
    padding-left: 2px;
  
justify-content: center;
   display: flex;
   align-items: center;
}
.add-income i,
.add-expense i{
   
    font-size: 40px;
}

.active{
    color: black;
    font-weight: 600;
}
.hide{
    display: none;
}
.entry{
    width: 50%;
    line-height:30px ;
}
#delete{
    margin: 5px;
    font-size: 28px;
    cursor: pointer;
    border-bottom: 2px solid black;
   
}
#edit{
    border-bottom: 2px solid black;
    margin: 5px;
    font-size: 28px;
    cursor: pointer;
}
.list .income{
    display: flex;
     width: 100%;
}
.list .expense {
    display: flex;
    width: 100%;
}